*.[ao]
*.pyc
*~
*.dbg
difsim_kernel
difsim_display
gtkdifsim
small_test
write_gradients
data/
mcell-3-build/
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
difsim
difsim-s
mcell-3/ar-lib
mcell-3/mcell-3-build
mcell-3/mcell-3-cfgcmd.txt
mcell-3/mcell-3-cfgcmd.txt.in
mcell-3/config.h.in
mcell-3/mcell-3-configure
mcell-3/mcell-3-done
mcell-3/mcell-3-download
mcell-3/mcell-3-install
mcell-3/mcell-3-mkdir
mcell-3/mcell-3-patch
mcell-3/mcell-3-update
mcell-3/compile
mcell/
DifSimGui/blender_plugin/difsim.zip
